body {
  background-color: #b7d2ff;
  font-family: monospace;
}

.to-do-container {
  background-color: #b3f9c7;
  width: 30%;
  font-size: 20px;
  margin: auto;
  border: 1px solid;
  border-radius: 4px;
  box-shadow: 2px 2px #888888;
}

.App form {
  border-bottom: 1px solid;
  line-height: 2em;
}

.App input {
  background-color: #b3f9c7;
  padding-left: 35px;
  width: 90%;
  border: none;
  font-size: 14px;
  font-style: italic;
}
.App input:focus {
  outline: none;
}

.to-do-item {
  padding: 5px 0px 5px 10px;
  margin: 0;
  border-bottom: 1px solid;
}

.to-do-list ul .delete {
	display: none;
	position: relative;
	float: right;
  padding-right: 15px;
	font-size: 15px;
  border: none;
  background: none;
  color: #aab1b7;
}

.to-do-list ul .delete:after {
	content: 'x';
}

.to-do-list ul .delete:hover {
	color: #d64264;
}

.to-do-list ul:hover .delete {
	display: inline;
}

.to-do-list input {
  position: absolute;
  width: 15px;
  height: 15px;
  margin-top: 5px;
}

.to-do-list label {
  padding-left: 25px;
}

.completed {
  text-decoration: line-through;
}
